<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN"
		"http://resources.openmrs.org/doctype/config-1.4.dtd">

<module configVersion="1.4">
	
	<!-- Base Module Properties -->
	
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Michael Seaton</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>1.6.0.11652</require_version>
	
	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<require_module version="${webservices.restModuleVersion}">
		org.openmrs.module.webservices
	</require_module>
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.ModuleActivator</activator>
	
	<!-- Extensions -->
	
	<extension>
		<point>org.openmrs.admin.maintenance.localHeader</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	
	<!-- Internationalization -->
	
	<privilege>
		<name>View Data Entry Statistics</name>
		<description>Able to View Data Entry Statistics</description>
	</privilege>
	
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<messages>
		<lang>it</lang>
		<file>messages_it.properties</file>
	</messages>

</module>
